.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App h3 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.App article {
  margin-bottom: 15vh;
}

.App article:last-child {
  margin-bottom: 0;
}
