.FancySelect {
  font-size: 16px;
}

.FancySelectGroup-group-addon {
  background-color: #ffffff !important;
}

.FancySelect__Option {
  font-size: 50%;
  cursor: pointer;
}

.FancySelect__Option--active {
  font-size: 100%;
}
