.FancySelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.FancySelectGroup-group-addon {
  background-color: #ffffff !important;
  min-width: 8em;
}

.FancySelect__Option {
  font-size: 50%;
  cursor: pointer;
}

.FancySelect__Option--active {
  font-size: 100%;
}
