.FancySelect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
}

.FancySelectGroup-group-addon {
  background-color: #ffffff !important;
  min-width: 7.5em;
  overflow-x: hidden;
}

.FancySelect__Option {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  color: #999999;
  font-size: 75%;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.FancySelect__Option.active {
  color: #333333;
  font-size: 100%;
}
