.RingSelect {
  position: relative;
  font-size: 16px;
  width: 16em;
  height: 16em;
}

.RingSelect__Value,
.RingSelect__Option {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  width: 3em;
  height: 3em;
  padding: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.RingSelect__Value {
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
}

.RingSelect__Option {
  width: 2em;
  height: 2em;
}
