.RingSelect {
  position: relative;
  font-size: 16px;
  width: 16em;
  height: 16em;
}

.RingSelect__Value,
.RingSelect__Option {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.RingSelect__Value {
  width: 4em;
  height: 4em;
  z-index: 3;
}

.RingSelect__Option {
  width: 2em;
  height: 2em;
  opacity: 0;
  transition: all ease-out 300ms;
  z-index: 2;
}

.RingSelect__Option.active {
  opacity: 1;
}

.RingSelect__Mask {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  /* background-color: red; */
  padding: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
